<!DOCTYPE html>
<html>
    <head>
        <title>QUnit Example</title>
        <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.1.1.css">
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture">
            <div id="addedIngredient"></div>
            <div id="ingredientQuantity"></div>
            <img id="PreviewImageID" style="max-width:400px;" src="#" alt="your image"/>
            <input type="file" onchange="PreviewImage(event)" />
        </div>
        <script src="https://code.jquery.com/qunit/qunit-2.1.1.js"></script>
        <script src="../scripts/imageUpload.js"></script>
        <script src="../scripts/addIngredient.js"></script>
        <script src="../scripts/amountChange.js"></script>
        <script src="../scripts/tests.js"></script>
    </body>
</html>